<%= simple_form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <h3>
        Can't save changes, please fix the following errors:
      </h3>
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :name %>
  </div>

  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
