<div class="container">
  <div class="center-block">

    <h2>
      <%= @cocktail.name %>
    </h2>

    <%#= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>

    <p>
      <%= link_to edit_cocktail_path do %>
        <button type="button" class="btn btn-primary">Edit</button>
      <% end %>
      <%= link_to new_cocktail_dose_path(@cocktail) do %>
        <button type="button" class="btn btn-primary">Add dose</button>
      <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
        <button type="button" class="btn btn-danger">Delete</button>
      <% end %>
    </p>
    <hr>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <span>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </span>
      </li>
    <% end %>
    </ul>
    <p>
      <%= link_to "Back to cocktail list", cocktails_path %>
    </p>
  </div>
</div>
